header {
  padding: 20px 0px;
  border-bottom: 1px solid #3498db;
  background-color: #0099ff18;

  .mobile-nav {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    display: none !important;

    .burger-menu {
      z-index: 11111111;
      i {
        font-size: 44px;
        color: #2f80ed;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .logo {
      a {
        font-family: "Anton", sans-serif;
        font-family: "Dancing Script", cursive;
        font-size: 30px;
        color: #3498db;
        margin-left: 10px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    i {
      margin-right: 30px;
      text-align: end;
      margin-bottom: 20px;
      display: none;
      font-size: 32px;
      color: #2f80ed;
      cursor: pointer;
    }

    .logo {
      a {
        font-family: "Anton", sans-serif;
        font-family: "Dancing Script", cursive;
        font-size: 40px;
        color: #3498db;
      }
    }
    nav {
      .nav {
        display: flex;

        .nav1 a {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 600;
          cursor: pointer;
          transition: 0.4s;
          border-radius: 20px;
          color: #3498db;
          &:hover {
            color: white;
          }
        }
        li {
          padding: 10px 20px;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 600;
          cursor: pointer;
          transition: 0.4s;
          border-radius: 20px;
          color: #3498db;
          &:hover {
            background-color: #3498db;
            color: white;
          }
          &:hover a {
            color: white;
          }
        }
        .dropdown-btn {
          position: relative;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          &:hover .dropdown-content {
            display: block;
            transform: translateY(0px);
          }

          .dropdown-content {
            border-bottom: 1px solid #3498db;
            border-left: 1px solid #3498db;
            border-right: 1px solid #3498db;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            position: absolute;
            background-color: #ffffff;
            font-size: 14px;
            width: 100%;
            top: 42px;
            right: 0.5px;
            display: none;
            transition: 0.4s;
            animation: fadeIn 0.3s ease;

            li {
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
            }
          }

          .dropdown-content li {
            padding: 12px 16px;
            text-decoration: none;
          }
          .dropdown-content li a {
            color: #3498db;
          }

          /* Dropdown content links on hover */
          .dropdown-content li:hover a {
            color: white;
          }

          /* Show dropdown content on button hover */
          .dropdown-btn:hover .dropdown-content {
            display: block;
          }

          /* Animation keyframes */
          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: scaleY(0);
            }
            to {
              opacity: 1;
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
}

#section-1 {
  z-index: -1;
  height: 400px;
  background-image: url("./section-1\ \(background\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;

  h1 {
    font-family: "Anton", sans-serif;
    font-family: "Dancing Script", cursive;
    color: white;
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 7%;
  }
}
#section-2 {
  .boxes {
    border-radius: 50px;
    padding: 20px;
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2f80ed,
      #56ccf2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2f80ed,
      #56ccf2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    .box {
      border: 1px solid white;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      font-family: Georgia, "Times New Roman", Times, serif;
      color: white;
      width: 25%;
      background-color: #3498db;
      padding: 10px;
      background: #7474bf; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #348ac7,
        #7474bf
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #348ac7,
        #7474bf
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      a {
        color: white;
      }
    }
  }
}
#section-3 {
  text-align: center;
  img {
    margin: auto;
    width: 80%;
    height: 600px;
    border-radius: 20px;
  }
}
footer {
  text-align: center;
  background-color: #3498db;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 0px;
}
